#Dialog Options Configuration
#
#allowEscClose: Allow players to close dialogs with the ESC key (default: true)
#showCloseButton: Show the close button in dialogs (default: true)
#displayAvatar: Display the NPC avatar in dialogs (default: true)
#buttonConditionMode: How unavailable conditional dialog buttons are shown: LOCK or HIDE (default: LOCK)
#Fri Aug 14 20:24:59 CEST 2026
allowEscClose=true
buttonConditionMode=LOCK
displayAvatar=true
showCloseButton=true
